<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <main class="content-space">
    <ion-card>
      <ion-card-content>
        <div class="map-box" *ngIf="mapUrl; else mapPlaceholder">
          <iframe [src]="mapUrl" title="Mapa de ubicacion actual"></iframe>
        </div>
        <ng-template #mapPlaceholder>
          <div class="map-placeholder">
            <ion-icon name="locate-outline"></ion-icon>
            <span>{{ statusMessage }}</span>
          </div>
        </ng-template>

        <section class="coordinates">
          <p>Latitud: {{ latitude || 'Pendiente' }}</p>
          <p>Longitud: {{ longitude || 'Pendiente' }}</p>
          <p>Precision: {{ accuracy ? (accuracy | number:'1.0-0') + ' m' : 'Pendiente' }}</p>
        </section>

        <div class="actions">
          <ion-button type="button" (click)="startLocation()">
            <ion-icon slot="start" name="locate-outline"></ion-icon>
            Actualizar
          </ion-button>
          <ion-button type="button" fill="outline" (click)="stopLocation()">
            <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
            Detener
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
