<ion-content fullscreen class="login-content">
  <section class="login-wrap">
    <div #brandMark class="brand-mark" aria-hidden="true">
      <ion-icon name="barbell-outline"></ion-icon>
    </div>

    <p class="eyebrow">Entrena en casa</p>
    <h1>AgendaFit</h1>
    <p class="intro">Rutinas cortas, simples y listas para completar mientras avanzas cada semana.</p>

    <ion-card>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
          <ion-list lines="none">
            <ion-item>
              <ion-input
                label="Nombre"
                label-placement="stacked"
                placeholder="Tu nombre"
                autocomplete="name"
                formControlName="name"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-select label="Objetivo semanal" label-placement="stacked" formControlName="goal">
                <ion-select-option [value]="3">3 entrenamientos</ion-select-option>
                <ion-select-option [value]="4">4 entrenamientos</ion-select-option>
                <ion-select-option [value]="5">5 entrenamientos</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-button expand="block" type="submit">
            Entrar
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
