<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" aria-label="Volver">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="toolbar-kicker">Formulario</span>
      <strong>Perfil</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <main class="content-space">
    <form [formGroup]="form" class="profile-form">
      <ion-list lines="none">
        <ion-item #firstNameField>
          <ion-input label="Nombre" label-placement="stacked" placeholder="Ingresa tu nombre" formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item #lastNameField>
          <ion-input label="Apellido" label-placement="stacked" placeholder="Ingresa tu apellido" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Nivel de educacion" label-placement="stacked" formControlName="educationLevel">
            <ion-select-option *ngFor="let level of educationLevels" [value]="level">{{ level }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Fecha nacimiento" label-placement="stacked" type="date" formControlName="birthDate"></ion-input>
        </ion-item>
      </ion-list>

      <div class="actions">
        <ion-button fill="outline" type="button" (click)="limpiar()">
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          Limpiar
        </ion-button>
        <ion-button type="button" (click)="mostrar()">
          <ion-icon slot="start" name="eye-outline"></ion-icon>
          Mostrar
        </ion-button>
      </div>
    </form>
  </main>
</ion-content>
